.count-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
 
}
.count-buttons {
    margin-right: 25px;
    display: flex;
    align-items: center;
    gap: 5px;
}