nav {
   width: 100%;
  background-color: #923535; /* gris oscuro / casi negro */
  padding: 1rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3); /* sombra sutil */
  position: relative; /* o fixed si querés que se quede arriba */
  top: 0;
  left: 0;
}

nav h1 {
  color: #f5c400; /* amarillo suave */
  margin-right: 2rem;
  font-size: 1.5rem;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  color: #ddd; /* gris claro */
  font-weight: 500;
  transition: color 0.3s;
}

nav a:hover {
  color: #f5c400; /* amarillo al pasar el mouse */
}